* {
  box-sizing: border-box;
}

html {
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: url("images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Monaco', 'Courier', sans-serif;
  color: #31a198;
}

h1, h2, h3, h4, h5, h6 {
  color: #2d8bcf;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: 'Monaco', 'Courier', sans-serif;
  
}

#root {
  max-width: 1024px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
  background: rgba(2, 43, 43, .85)
}

a, a:visited, a:active, a:focus {
  text-decoration: none;
  color: #839496;
  font-weight: bold;
}

h1.title {
  font-size: 100px;
}

h1 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: 'Monaco', 'Courier', sans-serif;
}

.grid {
  width: 23%;
  float: left;
  margin: 1%;
}
.center {
  text-align: center;
}

.stylized-link, .stylized-link:visited, .stylized-link:active, .stylized-link:focus {
  font-family: 'Monaco', 'Courier', sans-serif;
  font-size: 20px;
  color: #729d1f;
  background-color: #022b35;
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
  text-shadow: 1px 1px 0 #00011a;
  box-shadow: 1px 1px 3px #00011a;
  margin-bottom: 20px;
}

.stylized-link:hover {
  background-color: #0a3641;
  color: #b4881c;
}

.border-container {
  border-left: 10px solid #839496;
  border-bottom: 25px solid #839496;
  padding: 20px 20px 10px;
}
