@import './fonts/fonts.css';
.group:after {
  content: "";
  display: table;
  clear: both;
}

@import './App.css';
@import './Board.css';
@import './Question.css';
@import './User.css';
@import './UserPage.css';
@import './Animations.css';
@import './MainHeader.css';
