.questionTable{
  background-color: #fafafa;
  padding: 15px;
  border-radius: 10px;
  width: 90%;
  color: black;
}

.userTable{
  margin-top: -7%;
  width: 90%;
  margin-left: 30px;
}

.gameRow{
    border-radius: 10px;
      margin-top: 30px;
      padding: 20px;
  background-color: #ADD8E6;
  padding-left: 40px;
  color: black;
}

.gameRowCells{
  font-size: 26px;
}

.pie{
  position: absolute; 
}

.gameRow td{
  padding-right: 10%;
}

.chartRow {
  padding-top: 5%;
}

.userPage {
  text-align: center;
}

.questionContent {
  text-align: left;
}