form * {
  border-collapse: collapse;
}

.form {
  width: 400px;
  margin: 0 auto;
}

fieldset {
  border: none;
  padding: 0;
  margin-bottom: 20px;
}

input, textarea {
  background: #e6e6e6;
  border: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
}

label {
  font-size:20px;
  color: #fff;
  margin-right: 20px;
}

button {
  font-size: 20px;
  color: #729d1f;
  background-color: #022b35;
  padding: 10px;
  border: none;
  display: inline-block;
  border-radius: 10px;
  text-shadow: 1px 1px 0 #00011a;
  box-shadow: 1px 1px 3px #00011a;
  margin-bottom: 20px;
}

button:hover {
  background-color: #0a3641;
  color: #b4881c;
}

.form input {
  width: 100%;
}

.form button {
  float: right;
}

.error {
  color: #ff0000;
  font-size: 16px;
  margin-top: 10px;
  clear: both;
  font-style: italic;
}

.header {
  padding: 0 20px 20px;
}
.user-link {
  float: right;
  color: #00efff;

}

